<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" >

    <title>teste</title>
  </head>
  <body>
    <div class="container mt-5">

        <h1></h1>
        <a href="/">Link</a>


        <form method="POST" action="/save" >
        
            <div class="row">
                <div class="col-8 form-group">
                    <label class="form-label">Nome</label>
                    <input type="text" name="nome" class="form-control">
                </div>
                <div class="col-8 form-group">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control">
                </div>
                <div class="col-8 form-group">
                    <label class="form-label">Senha</label>
                    <input type="password" name="senha" class="form-control">
                </div>
                <div class="col-8 mt-2">
                    <button class="btn btn-success float-end">Salvar</button>
                   
                </div>
            </div>
        </form>
    </div>

   
    <script src="/static/dist/umd/popper.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js" ></script>
    <script>
       // console.log(localStorage.getItem('teste'));

       // const store=sessionStorage.getItem('name');


       /* const toast=document.cookie;
        const partes=toast.split('=');
        const login=partes[1];
        console.log(login);*/
        
       // const h1=document.querySelector('h1');
       // h1.innerHTML=`Olá ${login}`;
       // if(store !==null){
          //  h1.innerHTML=`Olá ${store}`;
       // }
        
    </script>
  </body>
</html>